<!DOCTYPE html>
<html lang="en-es">
  <!-- Login y Registro -->
  <section class="contenedorTodo">
    <div class="cajaTrasera">
      <div class="cajaTraseraLogin">
        <h3>¿Ya tienes una cuenta?</h3>
        <p>Inicia sesión para entrar en tu cuenta</p>
        <button id="iniciarSesion">Iniciar Sesión</button>
      </div>
      <div class="cajaTraseraRegister">
        <h3>¿Aún no tienes una cuenta?</h3>
        <p>Inicia sesión para entrar en tu cuenta</p>
        <button id="register">Registrarse</button>
      </div>
    </div>
    <div class="contenedorLoginRegister">
      <form action="" class="formularioLogin">
        <h2>Iniciar Sesión</h2>
        <input type="text" id="usuarioExistente" placeholder="Usuario" />
        <input
          type="password"
          id="contraseñaExistente"
          placeholder="Contraseña"
        />
        <button id="login">Entrar</button>
      </form>
      <form action="" class="formularioRegister">
        <h2>Regístrarse</h2>
        <input type="text" id="nombre" placeholder="Nombre Completo" required />
        <input
          type="text"
          id="correo"
          placeholder="Correo Electronico"
          required
        />
        <input
          type="text"
          id="usuarioN"
          placeholder="Usuario"
          required
          maxlength="5"
        />
        <input
          type="password"
          id="contraseñaN"
          placeholder="Contraseña"
          required
        />
        <button id="nuevoUsuario">Registrarse</button>
      </form>
    </div>
  </section>
</html>
