<p>cart-item works!</p>
<h2>Hola!!!!!!!!!!!!!!!!!!!</h2>
<section class="sectionCart">
    <div id="container">
        <table>
            <tr style="text-align:center;">
                <td>Image</td>
                <td>Name</td>
                <td>Price</td>
                <td>Amount</td>
                <td>Subtotal</td>
                <td> </td>
            </tr>
            <tr class="p">
                <td class="image"><img src="https://binaries.templates.cdn.office.net/support/templates/en-us/lt16412134_quantized.png" /></td>
                <td class="name">Evento 1</td>
                <td class="price">$299.99</td>
                <td class="amount"><input type="number" value="1" min="0" /></td>
                <td class="pricesubtotal"></td>
                <td class="remove">
                    <div>&times</div>
                </td>
            </tr>
            <tr class="p">
                <td class="image"><img src="https://binaries.templates.cdn.office.net/support/templates/en-us/lt16412134_quantized.png" /></td>
                <td class="name">Evento 2</td>
                <td class="price">$4.99</td>
                <td class="amount"><input type="number" value="3" min="0" /></td>
                <td class="pricesubtotal"></td>
                <td class="remove">
                    <div>&times</div>
                </td>
            </tr>
            <tr class="p">
                <td class="image"><img src="https://binaries.templates.cdn.office.net/support/templates/en-us/lt16412134_quantized.png" /></td>
                <td class="name">Evento 3</td>
                <td class="price">$599.99</td>
                <td class="amount">
                    <input type="number" value="1" min="0" />
                </td>
                <td class="pricesubtotal"></td>
                <td class="remove">
                    <div>&times</div>
                </td>
            </tr>
            <tr class="p">
                <td class="image"><img src="https://binaries.templates.cdn.office.net/support/templates/en-us/lt16412134_quantized.png" /></td>
                <td class="name">Evento 4</td>
                <td class="price">$29.99</td>
                <td class="amount"><input type="number" value="5" min="0" /></td>
                <td class="pricesubtotal"></td>
                <td class="remove">
                    <div>&times</div>
                </td>
            </tr>
            <tr class="p">
                <td class="image"><img src="https://binaries.templates.cdn.office.net/support/templates/en-us/lt16412134_quantized.png" /></td>
                <td class="name">Evento 5</td>
                <td class="price">$0.99</td>
                <td class="amount"><input type="number" value="20" min="0" /></td>
                <td class="pricesubtotal"></td>
                <td class="remove">
                    <div>&times</div>
                </td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td>Subtotal:</td>
                <td class="totalpricesubtotal"></td>
                <td> </td>
            </tr>
            <tr>
                <td style="border-top:1px solid white" colspan="6"><br/>
                    <span class="big">Total: $<span class="realtotal">0</span></span>
                </td>
            </tr>
        </table>
        <br>
        <div><span><a id="pay" href="./pago.html">Medios de pago</a></span></div><br>
        <div id="checkout">Verificar compra<span> &rarr;</span></div><br><br>
        <div><span><a id="record" href="./record.html">Historial de compras</a></span></div>
        <div id="footer">
            <ul>
                <li>Cambie la cantidad de cosas y vea el cambio total y subtotal</li>
                <li>Intente cambiar la cantidad de artículos a cantidades negativas o 0</li>
                <li>Eliminar elementos y ver cómo cambian los totales</li>
            </ul>
        </div>
        <br><br>
    </div>
</section>

