<!-- evento_eliminar.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Eliminar evento</title>
</head>
<body>
    <h1>Eliminar evento</h1>

    <p>¿Estás seguro de que deseas eliminar este evento?</p>

    <p>ID del evento: {{ evento.idEvento }}</p>
    <p>ID del usuario: {{ evento.idUser }}</p>
    <p>ID del ticket: {{ evento.idTicket }}</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Eliminar evento</button>
    </form>

    <a href="{% url 'evento_lista' %}">Volver a la lista de eventos</a>
</body>
</html>
