<section class="sectionPost">
    <div class="formularioEvent container">
        <form (ngSubmit)="onSubmit()" [formGroup]="eventForm">
            <h2>Crear Evento</h2>
            <div class="row">
                <div class="col-xxl-4 col-lg-6 col-md-12 my-1">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input                       
                        class="form-control"    
                        type="text" 
                        placeholder="Nombre del Evento"
                        (click)="hideErrorMessage()"
                        formControlName="name"
                        maxlength="50"
                        [ngClass]="{'is-invalid':invalidForm && eventForm.get('name')?.errors?.['required']}"
                        >
                    <p 
                        class="text-danger m-0" 
                        *ngIf="invalidForm && eventForm.get('name')?.errors?.['required']">
                        Este campo es obligatorio
                    </p> 
                </div>
                <div class="col-xxl-4 col-lg-6 col-md-12 my-1">
                    <label for="nombre" class="form-label">Fecha</label>
                    <input                       
                        class="form-control"    
                        type="datetime-local"                        
                        (click)="hideErrorMessage()"
                        formControlName="date"
                        >
                    <p 
                        class="text-danger m-0" 
                        *ngIf="invalidForm && eventForm.get('date')?.errors?.['required']">
                        Este campo es obligatorio
                    </p>    
                </div>
                <div class="col-xxl-4 col-lg-6 col-md-12 my-1">
                    <label for="nombre" class="form-label">Precio</label>
                    <input                       
                        class="form-control"    
                        type="text" 
                        placeholder="Precio del evento"
                        (click)="hideErrorMessage()"
                        formControlName="price"
                        maxlength="8"
                        [ngClass]="{'is-invalid':invalidForm && eventForm.get('price')?.errors?.['required']}"
                        >
                    <p 
                        class="text-danger m-0" 
                        *ngIf="invalidForm && eventForm.get('price')?.errors?.['required']">
                        Este campo es obligatorio
                    </p>
                </div>
            
                <div class="col-xxl-4 col-lg-6 col-md-12 my-1">
                    <label for="nombre" class="form-label">Categoría</label>
                    <select 
                        class="form-control" 
                        formControlName="category" 
                        (click)="hideErrorMessage()" 
                        [ngClass]="{'is-invalid':invalidForm && eventForm.get('category')?.errors?.['required']}" 
                        >
                            <option selected></option>
                            <option value="evento">Evento</option>
                            <option value="semanal">Semanal</option>
                            <option vale="mensual">Mensual</option>
                            <option value="espacio cultural">Espacio Cultural</option>                        
                    </select>
                    <p 
                        class="text-danger m-0" 
                        *ngIf="invalidForm && eventForm.get('category')?.errors?.['required']">
                        Este campo es obligatorio
                    </p>                 
                </div>
                <div class="col-xxl-4 col-lg-6 col-md-12 my-1">
                    <label for="nombre" class="form-label">Género</label>
                    <select 
                        class="form-control" 
                        placeholder="seleccione" 
                        formControlName="gender" 
                        (click)="hideErrorMessage()" 
                        [ngClass]="{'is-invalid':invalidForm && eventForm.get('gender')?.errors?.['required']}" 
                        >                        
                            <option selected></option> 
                            <option value="Artes visuales">Artes visuales</option>
                            <option value="Música">Música</option>
                            <option vale="Infantiles">Infantiles</option>
                            <option value="Teatro">Teatro</option>                                               
                    </select>
                    <p 
                        class="text-danger m-0" 
                        *ngIf="invalidForm && eventForm.get('gender')?.errors?.['required']">
                        Este campo es obligatorio
                    </p>
                </div>
                <div class="col-xxl-4 col-lg-6 col-md-12 my-1">
                    <label for="nombre" class="form-label">Provincia</label>
                    <input                       
                        class="form-control"    
                        type="text" 
                        placeholder="Provincia del Evento"
                        (click)="hideErrorMessage()"
                        formControlName="province"
                        maxlength="30"
                        [ngClass]="{'is-invalid':invalidForm && eventForm.get('province')?.errors?.['required']}"
                        >
                    <p 
                        class="text-danger m-0" 
                        *ngIf="invalidForm && eventForm.get('province')?.errors?.['required']">
                        Este campo es obligatorio
                    </p>
                </div>
         
                <div class="col-xxl-4 col-lg-6 col-md-12 my-1">
                    <label for="nombre" class="form-label">Ciudad</label>
                    <input                       
                        class="form-control"    
                        type="text" 
                        placeholder="Ciudad del Evento"
                        (click)="hideErrorMessage()"
                        formControlName="city"
                        maxlength="50"
                        [ngClass]="{'is-invalid':invalidForm && eventForm.get('city')?.errors?.['required']}"
                        >
                    <p 
                        class="text-danger m-0" 
                        *ngIf="invalidForm && eventForm.get('city')?.errors?.['required']">
                        Este campo es obligatorio
                    </p>
                </div>
                <div class="col-xxl-4 col-lg-6 col-md-12 my-1">
                    <label for="nombre" class="form-label">Calle</label>
                    <input                       
                        class="form-control"    
                        type="text" 
                        placeholder="Calle del Evento"
                        (click)="hideErrorMessage()"
                        formControlName="street"
                        maxlength="50"
                        [ngClass]="{'is-invalid':invalidForm && eventForm.get('street')?.errors?.['required']}"
                        >
                    <p 
                        class="text-danger m-0" 
                        *ngIf="invalidForm && eventForm.get('street')?.errors?.['required']">
                        Este campo es obligatorio
                    </p>
                </div>
                <div class="col-xxl-4 col-lg-6 col-md-12 my-1">
                    <label for="nombre" class="form-label">Número</label>
                    <input                       
                        class="form-control"    
                        type="text" 
                        placeholder="Número de la calle"
                        (click)="hideErrorMessage()"
                        formControlName="number"
                        maxlength="50"
                        [ngClass]="{'is-invalid':invalidForm && eventForm.get('number')?.errors?.['required']}"
                        >
                    <p 
                        class="text-danger m-0" 
                        *ngIf="invalidForm && eventForm.get('number')?.errors?.['required']">
                        Este campo es obligatorio
                    </p>
                </div>
           
                <div class="col-xxl-4 col-lg-6 col-md-12 my-1">
                    <label for="nombre" class="form-label">Instagram</label>
                    <input                       
                        class="form-control"    
                        type="text" 
                        placeholder="Instagram del Evento"
                        (click)="hideErrorMessage()"
                        formControlName="instagram"
                        maxlength="50"
                        [ngClass]="{'is-invalid':invalidForm && eventForm.get('instagram')?.errors?.['pattern']}"
                        >
                    <p 
                        class="text-danger m-0" 
                        *ngIf="invalidForm && eventForm.get('instagram')?.errors?.['pattern']">
                        La url ingresada no es válida
                    </p>
                </div>
                <div class="col-xxl-4 col-lg-6 col-md-12 my-1">
                    <label for="nombre" class="form-label">Facebook</label>
                    <input                       
                        class="form-control"    
                        type="text" 
                        placeholder="Facebook del Evento"
                        (click)="hideErrorMessage()"
                        formControlName="facebook"
                        maxlength="50"
                        [ngClass]="{'is-invalid':invalidForm && eventForm.get('facebook')?.errors?.['pattern']}"
                        >
                    <p 
                        class="text-danger m-0" 
                        *ngIf="invalidForm && eventForm.get('facebook')?.errors?.['pattern']">
                        La url ingresada no es válida
                    </p>
                </div>
                <div class="col-xxl-4 col-lg-6 col-md-12 my-1">
                    <label for="nombre" class="form-label">Sitio Web</label>
                    <input                       
                        class="form-control"    
                        type="text" 
                        placeholder="Sitio Web del Evento"
                        (click)="hideErrorMessage()"
                        formControlName="website"
                        maxlength="50"
                        [ngClass]="{'is-invalid':invalidForm && eventForm.get('website')?.errors?.['pattern']}"
                        >
                    <p 
                        class="text-danger m-0" 
                        *ngIf="invalidForm && eventForm.get('website')?.errors?.['pattern']">
                        La url ingresada no es válida
                    </p>
                </div>
          
                <div class="col-xxl-4 col-lg-6 col-md-12 my-1">
                    <label for="nombre" class="form-label">Descripción</label>
                    <textarea            
                        placeholder="Descripción del Evento"
                        class="form-control"
                        (click)="hideErrorMessage()"
                        formControlName="description"
                        maxlength="200"
                        [ngClass]="{'is-invalid':invalidForm && eventForm.get('description')?.errors?.['required']}"
                        ></textarea>
                    <p 
                        class="text-danger m-0" 
                        *ngIf="invalidForm && eventForm.get('description')?.errors?.['required']">
                        Este campo es obligatorio
                    </p>
                </div>
                <div class="col-xxl-4 col-lg-6 col-md-12 my-1">
                    <label for="nombre" class="form-label">Imagen</label>
                    <input                       
                        class="form-control"    
                        type="file"                        
                        (click)="hideErrorMessage()"
                        formControlName="image"
                        accept="image/*"
                        maxlength="50"
                        [ngClass]="{'is-invalid':invalidForm && eventForm.get('image')?.errors?.['required']}"
                        >
                    <p 
                        class="text-danger m-0" 
                        *ngIf="invalidForm && eventForm.get('image')?.errors?.['required']">
                        Este campo es obligatorio
                    </p>
                </div>              
            </div>           
            <div class="d-flex justify-content-center gap-5">
                    <button id="submitBtn" type="submit" class="btn btn-primary">Enviar</button>
                    <button id="resetBtn" type="button" class="btn btn-danger" (click)="resetForm()" data-bs-toggle="modal" 
                    data-bs-target="#modal-confirmacion">Resetear Formulario</button>
            </div>
        </form>
    </div>
</section>

<!-- MODAL CONFIRMACIÓN -->

<div 
class="modal fade modal"      
id="modal-confirmacion" tabindex="-1" 
aria-labelledby="textoModalLabel"
aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div>
                <div class="d-flex justify-content-center align-items-center">
                    <fa-icon
                        id="icono-confirmacion"                        
                        [icon]="faCircleCheck">
                    </fa-icon>
                </div>
                <p style="color:black; text-align: center; margin: 0px 25px;">El evento {{event.name}} ha sido creado exitosamente</p>
            </div>                    
            <div class="modal-footer d-flex justify-content-center p-2">               
                <button 
                    type="button" 
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                    >
                    Aceptar
                </button>
            </div>        
        </div>  
    </div>
</div> 
