
<section>
    <div class="contenedorPago">
        <h2 class="tituloMedios">Medios de pago</h2>
        <!--<div class="botoneraPago">
            <button type="button" class="pago efectivo">Efectivo</button>
            <button type="button" class="pago debito">Tarjeta de debito</button>
            <button type="button" class="pago credito">Tarjeta de credito</button>
            <button type="button" class="pago mp">Mercado Pago</button>
        </div>-->
        <div class="rowTab">
            <div #paypal></div>
    </div>
    </div>
</section>
