<body class="bodyAbout">
    <!-- HEADER -->
    <section>

        <div class="initAbout">
            <h1>ENTERarte</h1>

            <p>«Elegimos la calle porque hay toda clase de gente, el arte no es solo para una elite.» Ella & Pitr.</p>

        </div>
        <div class="contenedorSection">
            <div>
                <img src="/assets/img/personas.png" />
                <h2>Quienes somos</h2>
                <p>Somos una organización sin fines de lucro que trabaja activamente para promover, fomentar y difundir actividades culturales de todo tipo, ya que creemos en el valor de las expresiones artísticas como medio para generar lazos de unión entre
                    los miembros de la sociedad.</p>
            </div>
            <div>
                <img src="/assets/img/lupa.webp" />
                <h2>Nuestro objetivo</h2>
                <p>Buscamos generar un espacio en el que tod@s l@s artistas puedan dar a conocer sus producciones o eventos para poder, de forma sencilla, conectarse con sus potenciales espectadores. Para esto desarrollamos un sistema ágil de compra y venta
                    de entradas, que permitirá a l@s usuarios/as acceder desde cualquier lugar y en todo momento a visualizar la agenda cultural de su ciudad.</p>
            </div>
            <div>
                <img src="/assets/img/pagina.png" />
                <h2>Equipo de desarrollo</h2>
                <p>Te invitamos a conocer mas de nuestra empresa <a href="http://enterspace.rf.gd/">ENTERspace</a></p>
            </div>
            <div>
                <img src="/assets/img/computadora.png" />
                <h2>ENTERarte</h2>

                <p>El proyecto busca llegar a todas las personas interesadas difundir y/o en disfrutar de algún evento, ofreciendo todas las propuestas disponibles de forma libre y gratuita. Creemos en que el arte es una herramienta fundamental para la inclusión
                    social y un eslabón imprescindible de la cultura popular.
                </p>
            </div>
        </div>
        <div class='contact'>
            <div class="contactText">
                <h2>Contactanos</h2>
                <p>Si tenes dudas o sugerencias para nuestra pagina ENTERarte.</p>
                <div class='contenedorRedes'>
                    <h3>Tambien podes seguirnos en Facebook, en Instagram o mejor: en ambos!</h3>
                    <div class="iconos">
                        <a href="#"><img class="fc" src="/assets/img/facebook.png" alt="facebook"></a>
                        <a href="#"><img src="/assets/img/instagram.png" alt="instagram"></a>
                    </div>
                </div>
            </div>

            <div>
                <form action="" class="formularioContact">
                    <input type="text" placeholder="Correo Electronico">
                    <input type="text" placeholder="Tu Nombre">
                    <textarea cols="56" rows="8" placeholder=" Dejanos tu consulta"></textarea>
                    <button>Enviar</button>
                </form>
            </div>
        </div>
    </section><br><br>
    <!--FOOTER-->
</body>
